body{
    background: url(/static/images/index.jpg) no-repeat;
}
.heading{padding:30px 30px;}
li a{
    color:white;
    border: 2px groove transparent;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
}
#main{
    padding-top:8%;
}
#home:hover{
    background-color: white;
    color:black;
}
#signup:hover{
    background-color:rgb(244, 2, 2);
    color:white;
}
#about:hover{
    background-color:rgb(124, 236, 4);
    color:white;
}
ul{float:right;}
h1{
    float:left;
    font-size: 100px;
    color: white;
    text-shadow:3px 3px 5px #000000;
}
.alertify-notifier .ajs-message.ajs-error{
    color: white;
    background-color: #f60505b9;
}
.alertify-notifier .ajs-message.ajs-success{
    color: white;
    background-color: rgb(67, 166, 67);
}