<!DOCTYPE html>  
<html lang="en">  
<head>  
  <title>First Flask App</title>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="/static/js/jquery_ajax.js"></script>
<link rel="stylesheet" href="/static/css/style.css">
</head>  
<body>  
  
<div class="container">   
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:;home()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;about()">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;login()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;signup()">SignUp</a>
        </li>
      </ul> 
    </div>   
    <div id="ajax"></div> 
</body>  
</html>  

 
