<html>
    <head>
        <title>Register Here</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="static/js/jquery_ajax.js"></script>
        <link rel="stylesheet" href="/static/css/style.css">
        <style>
            button{margin-left: 40%;}
        </style>
    </head>
    <body>
        <div class="container">
            <h2>SIGN UP</h2><br>
            <form action="#" method="post">
              <div class="form-group">
                <label for="fname">First Name:</label>
                <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" required="required">
              </div>
              <br>
              <div class="form-group">
                <label for="lname">Last Name:</label>
                <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname" required="required">
              </div>
              <br>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" required="required">
              </div>
              <br>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter Password" name="pwd" required="required">
              </div>
              <br>
              <div class="form-group">
                <label for="cname">Company Name:</label>
                <input type="text" class="form-control" id="cname" placeholder="Enter Company Name" name="cname" required="required">
              </div>
              <br><br>
              <button type="submit" class="btn btn-success">Submit</button>
            </form>
          </div><br>
          <p class="worddark">Already have account? <a class="worddark" href="javascript:;login()">Login here</a></p>
    </body>
</html>